@font-face {
   font-family: 'Zen Antique';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/GAMING/Desktop/Leonel/APU%202023/2%C2%B0%20Cuatrimestre/Herramientas%20Informaticas%20Avanzada/Mobirise%20Local/fonts/Zen Antique/regular.ttf') format('truetype');
}
